[Unit]
Description=Bus Ad
After=network.target dbus.service

[Service]
Type=simple
ExecStart=/home/pi/rpi_wile/app.py
WorkingDirectory=/home/pi/rpi_wile/
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
